<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/simple.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer></script>
</head>
<body>
  <div class="topnav">
    <a href="/">Home</a>
  </div>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ 'now' | date: '%Y' }}</p>
  </footer>
</body>
</html>